## 背景

`MovieLens`数据集是一个广泛用来研究推荐系统算法的一个数据集。这个数据集包含了来自[电影推荐网站](https://movielens.org/)多年积累的数据。我们将基于这个数据集练习数据的处理和分析。

从 [grouplens](http://files.grouplens.org/datasets/movielens/ml-latest-small.zip) 下载数据集 MovieLens 1M Dataset。
数据集包含6个文件：
- `tags.csv` 用户给电影打的标签:
    - userId
    - movieId
    - tag
    - timestamp
- `ratings.csv` 用户给电影的评分:
    - userId
    - movieId
    - rating
    - timestamp
- `movies.csv` 电影信息:
    - movieId
    - title
    - genres
- `links.csv` 链接到其他资源的`id`:
    - movieId
    - imdbId
    - tmbdId

## 需求

对数据集中的3个csv文件进行聚合，生成一个csv，包含电影的信息，其中每部电影一行，信息包括电影名称、主演、平均分、所有tag

## 提交方式

github工程源代码文件链接+结果截图

In [25]:
import pandas as pd

In [26]:
# todo：读入csv文件
# 将多个csv文件进行连接
# 对连接结果进行汇总聚合

In [27]:
tags = pd.read_csv('file/tags.csv')
ratings = pd.read_csv('file/ratings.csv')
movies = pd.read_csv('file/movies.csv')
result = movies\
        .merge(ratings[['movieId', 'rating']], on='movieId', how='left')\
        .merge(tags[['movieId', 'tag']], on='movieId', how='left')

In [28]:
result.head()

,movieId,title,genres,rating,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,fun
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,pixar

In [29]:
def addstr(strs):
    output = ''
    for str_ in strs:
        if isinstance(str_, str):
            output += str_ + ','
    return output[:-1]
result = result.groupby('title').agg({'rating': 'mean', 'tag': addstr, 'genres': addstr})
result.reset_index(inplace=True)
result.head()

,title,rating,tag,genres
0,'71 (2014),4.0,,Action|Drama|Thriller|War
1,'Hellboy': The Seeds of Creation (2004),4.0,,Action|Adventure|Comedy|Documentary|Fantasy
2,'Round Midnight (1986),3.5,,"Drama|Musical,Drama|Musical"
3,'Salem's Lot (2004),5.0,,Drama|Horror|Mystery|Thriller
4,'Til There Was You (1997),4.0,,"Drama|Romance,Drama|Romance"